html, body {
    background: url(http://wallpapers1.ru/sport/data/img_sport_195.jpg) no-repeat fixed center;
    background-size: cover;
    margin: 0;
}
.main{
    display: inline;
}

.b-popup-author{
    display: none;
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup-author .b-popup-content-author{
    text-align: center;
    margin:3% auto 0px auto;
    width: 15%;
    height: 5%;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
.return-back{
    cursor: pointer;
    margin-top: 1%;
    width: 23.5%;
    text-align: center;
    font-family: Raleway, sans-serif;
    display: inline-block;
    font-size: 80%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.return-back:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.return-back:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rga(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}
.find-author{
    cursor: pointer;
    margin-top: 7px;%;
    width: 30%;
    text-align: center;
    font-family: Raleway, sans-serif;
    display: inline-block;
    font-size: 80%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.find-author:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.find-author:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}

.b-popup-date{
    display: none;
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup-date .b-popup-content-date{
    text-align: center;
    margin:3% auto 0px auto;
    width: 35%;
    height: 13%;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
.find-date{
    cursor: pointer;
    margin-top: 4%;
    width: 30%;
    text-align: center;
    font-family: Raleway, sans-serif;
    display: inline-block;
    font-size: 80%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.find-date:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.find-date:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}
.header{
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 150%;
    font-weight: 200;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    color: #333;
    letter-spacing: 1.3px;
    margin: -20px 0px 0px -3px;
    background-color: #a19c9c;
    position: fixed;
    text-decoration: none;
}
.container{
    display: inline;
}
.user{
    cursor: default;
    font-family:'Bell MT';
    font-weight: 900;
    display: inline;
    font-size: 20px;
}
li {
    cursor: pointer;
    list-style-type:none;
    display: inline-block;
    padding: 0 1vw;
    margin: 1vh 4%;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    background: rgb(106, 106, 106);
    transition: 0.2s;
}
li:hover { background: rgb(50, 64, 87); }
li:active {
    background: rgb(25, 119, 147);
}
.btn-main{
    list-style-type:none;
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    margin: 0px 1% 0px 1%;
    padding: 3% 3% 0.75% 3%;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.tape {
    background: #c9c5c5;
    box-sizing: border-box;
    width: 60%;
    margin: 20px auto;
    padding: 80px 0px;
    text-align: center;
}

.news {
    display: inline-block;
    margin: 30px 20px 0px 20px;
    text-align: center;
    width: 60%;
}

.news img {
    width: 90%;
}

h3,h4 {
    color: #14213D;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
}

.news p {
    box-sizing: border-box;
    background: #324057;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 40px 10px 40px;
}
.btn{
    cursor: pointer;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    float: right;
}
.btn:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.btn:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}
.delete{
    display: none;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    float: right;
    margin: 0px 5% 0px 0px;
    cursor: pointer;
}
.delete:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.delete:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}
.edit{
    cursor: pointer;
    display: none;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    float: right;
    margin: 0px 5% 0px 0px;
}
.edit:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.edit:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}
.author{
    display: inline-block;
    font-size: 12px;
    color: rgb(205,216,228);
    text-decoration: none;
    outline: none;
    border-right: 1px solid rgba(13,20,27,.5);
    border-top: 1px solid rgba(270,278,287,.01);
    padding: 1.7%;
    padding-right: 1%;
    background-color: rgb(64,73,82);
    background-image:radial-gradient(1px 60% at 0% 50%, rgba(255,255,255,.3), transparent);
    float: left;
}

.show-more{
    cursor: pointer;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 45%;
    width: 10%;
    text-align: center;
    font-family: Raleway, sans-serif;
    display: inline-block;
    font-size: 80%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.show-more:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.show-more:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}

.add-news-text{
    margin-top: 4%;
    border-radius: 10px;
    margin-left:25%;
    margin-right: 10%;
    color: #fff5c2;
    width:50%;
    font-size: 20px;
    padding-left: 2%;
}
.add-news-text b{padding-left: 5%}
.add-news-box{
    resize: none;
    border-radius: 5px;
}
.add-news-btn-add{
    cursor: pointer;
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 45%;
    width: 10%;
    text-align: center;
    font-family: Raleway, sans-serif;
    display: inline-block;
    font-size: 80%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.add-news-btn-add:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.add-news-btn-add:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}

.authorization{
    margin-top: 8%;
    border-radius: 10px;
    background-color: #777;
    margin-left:80%;
    margin-right: 10%;
    color:#fff;
    width:16%;
    height: 230px;
    padding-left: 2%;
    position: fixed;
}
.aut-login{
    border-radius: 5px;
}
.aut-password{
    border-radius: 5px;
}

#autinput{
    width:14vw;
}

#autinput1{
    width:14vw;
}
.aut-btn-sgnup{
    cursor: pointer;
    font-family: Raleway, sans-serif;
    margin-left: 20%;
    display: inline-block;
    font-size: 80%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.aut-btn-sgnup:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.aut-btn-sgnup:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}

.error {
    background-color:#fff;
    margin: 12% 55% 60% 28%;
    padding: 5px 5px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
}

.news-name{
    margin-top: 5%;
    width: 30%;
    margin-left: 35%;
    text-align: center;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.newsa-detail{
    display:inline;
}
.news-imgbtn{
    margin-left: 5%;
    width:40%;
    display: inline-block;
}
.news-image{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 40px 10px 40px;
}
.news-image img{
    margin-top:2%;
    padding-left:10%;
    width: 90%;
}
.news-buttons {
    display: inline;
}
.news-delete{
    cursor: pointer;
    margin: 5% 1%;
    float: right;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .4em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.news-delete:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.news-delete:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}
.news-edit{
    cursor: pointer;
    margin: 5% 1% 0% 0%;
    float: right;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .4em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.news-edit:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.news-edit:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}
.news-author{
    margin: 4% 0;
    display: inline-block;
    font-size: 18px;
    color: rgb(205,216,228);
    text-decoration: none;
    outline: none;
    border-right: 1px solid rgba(13,20,27,.5);
    border-top: 1px solid rgba(270,278,287,.01);
    padding: 1.5%;
    padding-right: 1%;
    background-color: rgb(64,73,82);
    float: left;
}
.news-text{
    margin-top: 1%;
    margin-bottom: 2%;
    float: right;
    margin-right: 5%;
    width:48%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #324057;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 40px 10px 40px;
}

.footer {
    background-color: #333;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.footer p {
    background: #a19c9c;
    padding: 5px 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
}

@media screen and (max-width: 1500px) {
    .btn-main{
        font-weight: 600;
        font-size: 18px;
        height: 13.5px;
        letter-spacing: 1.3px;
        margin: 0px;
        padding-right: 3%;
        padding-left: 3%;
    }
    li{
        margin: 1%;
        font-size: 13px;
    }
    .main{
        margin:0;
        padding-left: 0%;
    }
    .user{
        margin: 0;
        font-size:12px;
    }
    .header{
        font-size: 14px;
        height: 53px;
    }
    .tape{
        width:85%;
    }
    .btn{
        font-size: 11px;
    }
    .delete{
        font-size: 11px;
    }
    .edit{
        font-size: 11px;
    }
    .author{
        font-size: 11px;
    }
    .btnmain{
        margin-left: 2%;
    }
    .add-news-text{
        margin-left: 10%;
    }
}
@media screen and (max-width: 920px)
{
    .add{
        display: none;
    }
    .quit{
        display: none;
    }
    .logIn{
       display: none;
    }
    .search{
        display: none;
    }
    .main{
        margin: 0;
    }
    .header{
        font-size:40px;
        height: 50px;
    }
    .btn{
        font-size: 7px;
    }
    .delete{
        font-size: 7px;
    }
    .edit{
        font-size: 7px;
    }
    .author{
        font-size: 5px;
    }
    .add-news-text{font-size: 14px;}
    .add-news-box{width: 140%}
    .add-news-text{
        padding-left: 5%;
        margin-left:1%;
    }
    .add-news-btn-add{margin-left: 35%;}
}
@media screen and (max-width: 1000px) {
    .aut-passwordpassword{
        font-size: 14px;
    }
    .aut-login{
        font-size: 14px;
    }
    .aut-btn-sgnup{
        font-size: 12px;
    }
    .authorization{
        border-radius: 10px;
        padding-left: 5%;
        width:22vw;
        height: 170px;
        margin-left:60%;
        padding-right:1%;
    }
    #autinput{
        width:16vw;
    }
}
@media screen and (max-width: 1200px) {
    .news-text{
        font-size: 9.5px;
    }
    .news-image{
        width: 80%;
    }
    .news-name{
        margin-top: 2%;
        font-size: 10px;
        width: 20%;
        margin-left:40%;
    }
    .news-autbtn{
        font-size: 11px;
    }
    .news-author{
        margin-left: 17%;
        font-size: 11px;
    }
    .btnmain{
        margin-left: 2%;
    }
    .error{
        margin-top: 20%;
    }
}
@media screen and (max-width: 780px)
{
    .news-image{
        margin-top: 40%;
        margin-right: 20%;
    }
    .news-header{
        font-size:40px;
    }
    .news-btn{
        font-size: 7px;
    }
    .news-autbtn{
        font-size: 7px;
    }
    .news-author{
        font-size: 7px;
    }
}